<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/img/favicon.ico">
    {% if title %}
        <title>{{ title }} - LogAuditor</title>
    {% else %}
        <title>LogAuditor</title>
    {% endif %}
    {% block css %}
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/navbar-fixed-top.css" rel="stylesheet">
    {% endblock %}
</head>

<script type="application/json" id="initial-data2">{{ settings|safe }}</script>
<div class="text-center">
    <form class="form-inline" action="/settings/{{ index_name }}" method="post">
        <div class="container">
            <h3>{{ index_name|title }} configuration</h3>
            <input type="hidden" name="index_settings" value="">
            <div id="controls" class="controls-dup">
                <div class="form-group">
                    <input type="text" pattern="[A-Za-z .\-_]+" name="name[]"
                           class="controls-dup-item form-control" id="name"
                           placeholder="Name"
                           required>
                </div>
                <div class="form-group">
                    <input type="text" pattern="[a-z]+" class="controls-dup-item form-control"
                           name="alias[]" id="alias"
                           placeholder="Alias"
                           required>
                </div>
                <div class="input-group col-xs-4">
                    <input type="text" class="form-control inputlg" name="target[]"
                           id="target"
                           placeholder="Target" required>
                                <span class="input-group-btn">
                                      <button style="margin-left: -12px;" class="btn btn-success btn-add" id="btn-add"
                                              type="button">
                                          <span class="glyphicon glyphicon-plus"></span>
                                      </button>
                                </span>
                </div>
            </div>
        </div>
        <br>
        <input type="submit" class="btn btn-info" value="Submit Button">
    </form>
</div>

<script>
    var controls = (function () {
        var original = document.getElementById('controls');
        var parent = original.parentNode;
        parent.removeChild(original);

        var onCreate = null;

        function remove() {
            this.parentNode.removeChild(this);
        }

        function create() {
            var clone = original.cloneNode(true);
            parent.appendChild(clone);
            if (onCreate != null)
                onCreate();
            var button = clone.querySelector("#btn-add");
            button.onclick = create;
            onCreate = function () {
                button.onclick = remove.bind(clone);
                button.className = "btn btn-danger";
                button.innerHTML = '<span class="glyphicon glyphicon-minus"></span>';
            };
            return {
                form: clone,
                fill: function (data) {
                    clone.querySelector("#name").value = data.name;
                    clone.querySelector("#target").value = data.target;
                    clone.querySelector("#alias").value = data.alias;
                }
            };
        }

        return {
            add: function (data) {
                var form = create();
                if (data != null) form.fill(data);
            }
        }
    })();
    (function () {
        var json = JSON.parse(document.getElementById("initial-data2").innerHTML),
                i = -1,
                l = json.length;
        while (++i < l)
            controls.add(json[i]);

    })();

</script>

<script src="/static/js/bootstrap.min.js"></script>
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</body>
</html>
