<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <script type="application/json" id="initial-data">{{ settings|safe }}</script>
    {% if error %}
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error! </strong>{{ error }}
        </div>
    {% endif %}
    <ul class="nav nav-tabs">
        <li{% if active == 'es' %}{{ ' class="active"'|safe }}{% endif %}><a data-toggle="tab"
                                                                             href="#elastic">Elasticsearch</a></li>
        <li{% if active == 'ge' %}{{ ' class="active"'|safe }}{% endif %}><a data-toggle="tab"
                                                                             href="#general">General</a>
        </li>
        <li{% if active == 'in' %}{{ ' class="active"'|safe }}{% endif %}><a data-toggle="tab"
                                                                             href="#indexes">Indexes</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="elastic" class="tab-pane fade in {% if active == 'es' %}{{ "active" }}{% endif %}">
            <div class="container">
                <h3>Elasticsearch</h3>

                <p>Connection settings for Elasticsearch</p>
                <br>

                <form id="es-form" role="form" action="." method="post">
                    <input type="hidden" name="es-tab">

                    <div class="form-group">
                        <label for="inputsm">IP Address</label>
                        <input class="form-control input-sm" type="text" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}"
                               name="es-ip" required>
                    </div>
                    <div class="form-group">
                        <label for="inputsm">Port number</label>
                        <input type="number" min="1" max="65535" class="form-control input-sm" name="es-port"
                               required>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label><input type="checkbox" name="es-ssl">SSL Enabled</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="es-prot">Protection Enabled</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputsm">Username (needed when Protection is enabled)</label>
                        <input class="form-control input-sm" name="es-user" type="text">
                    </div>
                    <div class="form-group">
                        <label for="inputsm">Password (needed when Protection is enabled)</label>
                        <input class="form-control input-sm" name="es-password" type="text">
                    </div>
                    <input type="submit" class="btn btn-info" value="Submit Button">
                </form>
            </div>
        </div>

        <div id="general" class="tab-pane fade in {% if active == 'ge' %}{{ "active" }}{% endif %}">
            <div class="container">
                <h3>General</h3>

                <p>General settings for application</p>
                <br>

                <form id="ge-form" role="form" action="." method="post">
                    <input type="hidden" name="ge-tab">

                    <div class="form-group">
                        <label for="input">Number of displayed elements in search</label>
                        <input type="number" min="20" max="500" class="form-control input-sm" name="ge-ele"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="input">Max alerts displayed</label>
                        <input type="number" min="10" max="200" class="form-control input-sm" name="ge-maxalerts"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="input">Max schedulers displayed</label>
                        <input type="number" min="10" max="200" class="form-control input-sm" name="ge-maxschedulers"
                               required>
                    </div>
                    <input type="submit" class="btn btn-info" value="Submit Button">
                </form>
            </div>
        </div>

        <div id="indexes" class="tab-pane fade in {% if active == 'in' %}{{ "active" }}{% endif %}">
            <div class="container">
                <h3>Enabled index settings</h3>
                <p>Indexes list and information <a href="/docs#settings"><span
                        class="glyphicon glyphicon-book"></span></a>
                </p>
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Index name</th>
                        <th>Enabled</th>
                        <th>Search settings</th>
                        <th>Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for index in indexes %}
                        <tr>
                            <td>{{ index[0] }}</td>
                            {% if index[1] == True %}
                                <td><a href="javascript:sendData({disable: '{{ index[0] }}'})"><span
                                        class="glyphicon glyphicon-check"></span></a></td>{% endif %}
                            {% if index[1] == False %}
                                <td><a href="javascript:sendData({enable: '{{ index[0] }}'})"><span
                                        class="glyphicon glyphicon-unchecked"></span></a></td>{% endif %}
                            <td><a data-toggle="modal" href="http://127.0.0.1:5005/settings/{{ index[0] }}"
                                   data-target="#myModal4"><span
                                    class="glyphicon glyphicon-menu-hamburger"></span></a></td>
                            <td><a href="javascript:sendData({trash: '{{ index[0] }}'})"><span
                                    class="glyphicon glyphicon-trash"></span></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <br><br>
            <br><br>
            <div class="container">
                <h3>Avaiable indexes</h3>
                <p>Indexes which can be added to database.<a href="/docs#settings"><span
                        class="glyphicon glyphicon-book"></span></a>
                </p>
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Index name</th>
                        <th>Add to database</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for index in indexes_avail %}
                        <tr>
                            <td>{{ index }}</td>
                            <td><a href="javascript:sendData({add_index: '{{ index }}'})"><span
                                    class="glyphicon glyphicon-plus"></span></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Index settings</h4>

                </div>
                <div class="modal-body">
                    <div class="te"></div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var d = JSON.parse(document.getElementById("initial-data").innerHTML);
        function formAuto(form) {
            var inputs = form.getElementsByTagName("input");
            var c = "els=this;";
            var els = [];
            for (var i = 0; i < inputs.length; i++) {
                var memberName = inputs[i].getAttribute("name");
                if (memberName != null) {
                    var index = els.push(inputs[i]) - 1;
                    if (inputs[i].type == "checkbox")
                        c += "els[" + index + "].checked=json['" + memberName + "'];";
                    else
                        c += "els[" + index + "].value=json['" + memberName + "']||'';";
                }
            }
            return {
                fill: new Function("json", c).bind(els)
            }
        }
        var form_es = formAuto(document.getElementById("es-form"));
        var form_ge = formAuto(document.getElementById("ge-form"));
        form_es.fill(d);
        form_ge.fill(d);

        function sendData(data) {
            var XHR = new XMLHttpRequest();
            var FD = new FormData();
            for (name in data) {
                FD.append(name, data[name]);
            }
            XHR.addEventListener('load', function (event) {
                reload();
            });
            XHR.addEventListener('error', function (event) {
                alert('Oups! Something goes wrong.');
            });
            XHR.open('POST', '/settings/');
            XHR.send(FD);
        }

        function reload() {
            window.location.reload(false);
        }
        $(function () {
            var hash = window.location.hash;
            hash && $('ul.nav a[href="' + hash + '"]').tab('show');

            $('.nav-tabs a').click(function (e) {
                $(this).tab('show');
                var scrollmem = $('body').scrollTop();
                window.location.hash = this.hash;
                $('html,body').scrollTop(scrollmem);
            });
        });
    </script>
{% endblock %}
