<!-- extend base layout -->
{% extends "base.html" %}

{% block end_scripts %}
    <style>
        .modal-dialog {
            width: 90%;
            padding: 0;
            overflow-y: auto;
            max-height: 80%;
        }

        .modal-content {
            border-radius: 0;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container">
        <h3>Alerts</h3>

        <p>Listing of recent alerts</p>
        {% if alerts %}
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Alert rule</th>
                    <th>Target</th>
                    <th>Alert</th>
                    <th>POST Sent</th>
                    <th>Archive</th>
                </tr>
                </thead>
                <tbody>
                {% for alert in alerts %}
                    <tr>
                        <td>{{ alert[0] }}</td>
                        <td>{{ alert[1] }}</td>
                        <td>{{ alert[2] }}</td>
                        <td>{{ alert[4] }}</td>
                        <td><a data-toggle="modal" href="/alerts/raw/{{ alert[0] }}"
                               data-target="#myModal"><span class="glyphicon glyphicon-comment"></span></a></td>
                        {% if alert[3] == 0 %}
                            <td><span title="Sent" class="glyphicon glyphicon-ok"></span></td>{% endif %}
                        {% if alert[3] == 1 %}
                            <td></td>{% endif %}
                        {% if alert[3] == 2 %}
                            <td><span title="Error!" class="glyphicon glyphicon-remove"></span></td>{% endif %}
                        <td><a href="javascript:sendData({archive: {{ alert[0] }}})">
                            <span title="Archive" class="glyphicon glyphicon-briefcase"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="text-center">So far nothing there.</div>
        {% endif %}
        <div class="text-right">
            <a href="javascript:sendData({archive_all: true})" class="btn btn-sm btn-default" role="button">Archive all
                alerts</a>
            <a href="{{ url_for('alerts.archive') }}" class="btn btn-sm btn-default" role="button">Archive</a>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Alert Message</h4>
                </div>
                <div class="modal-body">
                    <div class="te"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function sendData(data) {
            var XHR = new XMLHttpRequest();
            var FD = new FormData();
            for (name in data) {
                FD.append(name, data[name]);
            }
            XHR.addEventListener('load', function (event) {
                reload();
            });
            XHR.addEventListener('error', function (event) {
                alert('Oups! Something went wrong.');
            });
            XHR.open('POST', '/alerts/archive');
            XHR.send(FD);
        }

        function reload() {
            window.location.reload(false);
        }
        $('#myModal').on('hidden', function () {
            $(this).removeData('modal');
        });
    </script>
{% endblock %}
