<!DOCTYPE html>
<html lang="en">
<head>
    <style>#json {
        white-space: pre-wrap;
        font-family: monospace;
        font-size: 0.9em;
    }
    </style>
</head>
<body>
<div id="json"></div>

<script>
    var obj = {{ alert|safe }}
    document.getElementById("json").appendChild(document.createTextNode(JSON.stringify(obj, null, 4)));
</script>
</body>
</html>
