<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <div>
        <h1>LogAuditor Documentation</h1>
        <hr>
        <h3>Table of contents</h3>
        <h4><a href="#home-page">1. Home page</a></h4>
        <h4><a href="#search">2. Search</a></h4>
        <h4><a href="#alerts">3. Alerts</a></h4>
        <h4><a href="#scheduler">4. Scheduler</a></h4>
        <h4><a href="#cleaner">5. Cleaner</a></h4>
        <h4><a href="#settings">6. Settings</a></h4>
        <h4><a href="#about">7. About</a></h4>
        <hr>
        <h4 id="home-page">1. Home page</h4>

        <p>Home page was created to provide basic information about working application.</p>
        <br>

        <h4 id="search">2. Search</h4>

        <p>...</p>
        <br>

        <h4 id="alerts">3. Alerts</h4>

        <p>...</p>
        <br>

        <h4 id="scheduler">4. Scheduler</h4>

        <p>...</p>
        <br>

        <h4 id="cleaner">5. Cleaner</h4>

        <p>...</p>
        <br>

        <h4 id="settings">6. Settings</h4>

        <p>...</p>
        <br>

        <h4 id="about">7. About</h4>

        <p>...</p>
        <br>
    </div>
{% endblock %}
