<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <script type="application/json" id="initial-data">{{ settings|safe }}</script>

    <div class="container">
        <div class="page-header">
            <h4>Scheduler basic options</h4>
        </div>

        <form id="sh-form" role="form" action="{{ url_for('scheduler.new') }}" method="post">
            <input type="hidden" name="sh-tab">

            <div class="form-group">
                <label for="inputsm">Scheduler name</label>
                <input class="form-control input-sm" type="text" name="sh-name" required>
            </div>
            <div class="form-group">
                <label for="inputsm">Target</label>
                <select class="form-control input-sm" name="sh-target" required>
                    {% for index in enabled_indexes %}
                    <option>{{ index[0] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="inputsm">Cycle time (min)</label>
                <select class="form-control input-sm" name="sh-cycle" required>
                    {% for cron in cron_times %}
                    <option>{{ cron }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label for="comment">ES Script:</label>
                    <textarea class="form-control" rows="3" name="sh-script"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label><input type="checkbox" name="sh-enabled">Scheduler enabled</label>
                </div>
            </div>
            <div class="page-header">
                <h4>Scheduler POST</h4>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label><input type="checkbox" name="sh-post-enabled">POST Enabled</label>
                </div>
            </div>
            <div class="form-group">
                <label for="inputsm">Address</label>
                <input class="form-control input-sm" name="sh-post-addr" type="text">
            </div>
            <div class="form-group">
                <label for="inputsm">Output field name</label>
                <input class="form-control input-sm" name="sh-post-output" type="text" placeholder="output">
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label><input type="checkbox" name="sh-post-protected">POST Protected</label>
                </div>
            </div>
            <div class="form-group">
                <label for="inputsm">Username</label>
                <input class="form-control input-sm" name="sh-post-username" type="text" placeholder="">
            </div>
            <div class="form-group">
                <label for="inputsm">Password</label>
                <input class="form-control input-sm" name="sh-post-password" type="text" placeholder="">
            </div>
            <input type="submit" class="btn btn-info" value="Submit Button">
        </form>
    </div>
    </div>
{% endblock %}
