<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

    <div class="container">
        <h3>Scheduler</h3>

        <p>Scheduler management page</p>
        {% if schedulers %}
            <table class="table table-condensed text-center">
                <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Rule name</th>
                    <th class="text-center">Target</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">POST</th>
                    <th class="text-center">Run every (min)</th>
                    <th class="text-center">Settings</th>
                    <th class="text-center">Remove</th>
                </tr>
                </thead>
                <tbody>
                {% for scheduler in schedulers %}
                    <tr>
                        <td>{{ scheduler[0] }}</td>
                        <td>{{ scheduler[1] }}</td>
                        <td>{{ scheduler[5] }}</td>
                        {% if scheduler[2] == True -%}
                            <td><a href="javascript:sendData({disable: {{ scheduler[0] }}})"><span
                                    class="glyphicon glyphicon-check"></span></a>
                            </td>{% endif %}
                        {% if scheduler[2] == False -%}
                            <td><a href="javascript:sendData({enable: {{ scheduler[0] }}})"><span
                                class="glyphicon glyphicon-unchecked"></span></a>{% endif %}
                        {% if scheduler[3] == True -%}
                            <td><span title="Enabled" class="glyphicon glyphicon-ok"></span></td>{% endif %}
                        {% if scheduler[3] == False -%}
                            <td><span title="Disabled" class="glyphicon glyphicon-remove"></span></td>{% endif %}
                        <td>{{ scheduler[4] }}</td>
                        <td>
                            <a href="{{ url_for('scheduler.edit_id', id=scheduler[0]) }}">
                                <span title="Edit" class="glyphicon glyphicon-edit"></span></a>
                            <a href="{{ url_for('scheduler.clone_id', id=scheduler[0]) }}">
                                <span title="Clone" class="glyphicon glyphicon-share"></span></a>
                        </td>
                        <td>
                            <a href="javascript:sendData({remove: {{ scheduler[0] }}})">
                                <span title="Remove" class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div id="modal-dialog-alias" class="modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>

                            <h3 class="center-block">Information</h3>
                        </div>
                        <div class="modal-body text-center">
                            <p>Are you sure?</p>

                            <p>Removing Scheduler is taking removing all alerts (even not archived) too!</p>
                        </div>
                        <div class="modal-footer text-center">
                            <div class="text-center">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                                <input type="submit" class="btn btn-danger" value="Clean & remove">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
        {% endif %}
        <div class="text-right">
            <a href="{{ url_for('scheduler.new') }}" class="btn btn-sm btn-default" role="button">Add new</a>
        </div>
    </div>
    <div id="confirm" class="modal hide fade">
  <div class="modal-body">
    Are you sure?<br>
    <b>This will</b>
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">Delete</button>
    <button type="button" data-dismiss="modal" class="btn">Cancel</button>
  </div>
</div>
    <script>
        function sendData(data) {
            var XHR = new XMLHttpRequest();
            var FD = new FormData();
            for (name in data) {
                FD.append(name, data[name]);
            }
            XHR.addEventListener('load', function (event) {
                reload();
            });
            XHR.addEventListener('error', function (event) {
                alert('Oups! Something goes wrong.');
            });
            XHR.open('POST', '/scheduler/');
            XHR.send(FD);
        }

        function reload() {
            window.location.reload(false);
        }
    $('a[name="remove_levels"]').on('click', function(e){
    var $form=$(this).closest('form');
    e.preventDefault();
    $('#modal-dialog-alias').modal({ backdrop: 'static', keyboard: false })
        .one('click', '#delete', function (e) {
            $form.trigger('submit');
        });
});
    </script>
{% endblock %}
