body {
    padding-top: 80px;
}

.zeroPadding {
    padding: 0 !important;
}

.table-center th {
    text-align: center;
}

.table-center td {
    text-align: center;
}

.btn-group {
    display: inline-flex;
    width: 100%;
}

.input-group-search {
    width: 125px;
}

@media screen and (min-width: 768px) {

    #myModal4 .modal-dialog {
        width: 900px;
    }

}
.modal {
    position: absolute;
}
#myModal4 .modal-dialog {
    width: 75%;
}

.entry:not(:first-of-type) {
    margin-top: 10px;
}

.glyphicon {
    font-size: 12px;
}

.controls-dup {
    margin-bottom: 5px;
}

.general {
    display: none;
}

:target {
    display: block;
}

.controls-dup-item {
    margin-right: 10px;
}

input:required:invalid, input:focus:invalid {
    background-color: #FFEEEE;
}

input:required:valid {
    background-color: #EEFFEE;
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn {
    margin-right: 10px;
}