<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

    <ul class="nav nav-tabs">
        <!--<li class="active"><a data-toggle="tab"
                              href="#index">Elasticsearch</a></li>-->
        <li class="active"><a data-toggle="tab" href="#alerts">Alerts</a>
        </li>
    </ul>

    <div class="tab-content">
        <!--<div id="index" class="tab-pane fade in active">
            <div class="container">
                <h3>Index cleaner</h3>

                <p>Clean some of your logs using specific date range. Be careful!</p>

                <form role="form" action="." method="post">
                    <input type="hidden" name="cl-index">
                    <div class="form-group">
                        <label for="sel1">Select index:</label>
                        <select class="form-control" name="index-name" id="sel1">
                            {% for index in indexes %}
                                <option>{{ index }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sel1">Select date range:</label>
                        <input type="text" class="form-control" name="daterange" value="01/01/2015 - 01/31/2015"/>
                    </div>
                    <a href="#modal-dialog" class="modal-toggle btn btn-info" data-toggle="modal"><i
                            class="icon-trash"></i>Submit</a>

                    <div id="modal-dialog" class="modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header text-center">
                                    <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>

                                    <h3 class="center-block">Information</h3>
                                </div>
                                <div class="modal-body text-center">
                                    <p>Are you sure?</p>

                                    <p>You might delete a loot of usefull data!</p>
                                </div>
                                <div class="modal-footer text-center">
                                    <div class="text-center">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel
                                        </button>
                                        <input type="submit" class="btn btn-danger" value="Clean">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>-->
        <div id="alerts" class="tab-pane fade in active">
            <div class="container">
                <h3>Alerts cleaner</h3>

                <p>Clean old alerts from database. Only archived rows gonna be wiped. Be careful!</p>

                <form role="form" action="." method="post">
                    <input type="hidden" name="cl-alias">

                    <div class="form-group">
                        <label for="sel1">Select date range:</label>
                        <input type="text" class="form-control" name="daterange" value="01/01/2015 - 01/31/2015"/>
                    </div>
                    <a href="#modal-dialog-alias" class="modal-toggle btn btn-info" data-toggle="modal"><i
                            class="icon-trash"></i>Submit</a>

                    <div id="modal-dialog-alias" class="modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header text-center">
                                    <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>

                                    <h3 class="center-block">Information</h3>
                                </div>
                                <div class="modal-body text-center">
                                    <p>Are you sure?</p>

                                    <p>You might delete a loot of usefull data!</p>
                                </div>
                                <div class="modal-footer text-center">
                                    <div class="text-center">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel
                                        </button>
                                        <input type="submit" class="btn btn-danger" value="Clean">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        $(function () {
            $('input[name="daterange"]').daterangepicker({
                "linkedCalendars": false,
                "parentEl": "form-group",
                "separator": "-",
                "startDate": "01-01-2014",
                "endDate": "01-03-2016"
            }, function (start, end, label) {
                console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
            });
        });
    </script>
    <script>
        $('#btnYes').click(function () {
            alert('submit form');
            $('form').submit();

        });
    </script>


{% endblock %}
{% block top_scripts %}
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>
{% endblock %}
