<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <div class="container">
        <form action="." method="post">
            <div class="input-group btn-group">
                <select class="input-group-addon input-group-search selectpicker" name="index">
                    {% for index in indexes %}
                        <option>{{ index }}</option>
                    {% endfor %}
                </select>
                <input id="data-input" class="form-control" placeholder="Search query..." name="query"
                       value="{{ old_query }}" type="text">

                <div class="input-group-btn input-group-search">
                    <input type="submit" value="Search" type="submit" class="btn btn-default">Search</button>
                    <a class="btn btn-default" href="/docs#search" role="button">
                        <span class="glyphicon glyphicon-question-sign"></span></a>
                </div>
            </div>
        </form>
        <br>
    </div>
{% endblock %}

{% block searchresults %}
    <div class="container">
        {% if error %}
            <div class="text-center">{{ error }}</div>
        {% else %}
            <table class="table table-center table-condensed table-hover small">

                <thead>
                {%- for name, alias in header %}
                    <th data-alias="{{ alias }}">{{ name }}</th>
                {%- endfor %}
                </thead>
                <tbody>
                {%- for item in results %}
                    <tr>
                        {%- for subitem in item %}
                            <td>{{ subitem }}</td>
                        {%- endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if pager %}
                <ul class="pager">
                    {% if offset_next > 1 %}
                        <li><a href="?page={{ offset_prev }}">Previous</a></li>{% endif %}
                    {% if offset_next > 0 %}
                        <li><a href="?page={{ offset_next }}">Next</a></li>{% endif %}
                </ul>
            {% endif %}
            </div>
            <script>
                function onRowClick(table, fn) {
                    var head = table.getElementsByTagName("th");
                    var mappings = [];
                    for (var i = 0; i < head.length; i++)
                        mappings.push({
                            key: head[i].getAttribute('data-alias'),
                            mapper: function (el) {
                                return el == null ? null : el.innerHTML
                            }
                        });

                    function onTrClick(ev) {
                        var tds = this.getElementsByTagName("td");
                        var target = "";
                        var o = {};
                        for (var i = 0; i < mappings.length; i++) {
                            o[mappings[i].key] = mappings[i].mapper(tds[i]);
                            if (ev.target == tds[i])
                                target = mappings[i].key;
                        }
                        fn({data: o, originalEvent: ev, target: target});
                    }

                    var trs = table.getElementsByTagName("tr");
                    for (var i = 0; i < trs.length; i++) {
                        trs[i].addEventListener("mousedown", onTrClick);
                    }
                }

                function hasWhiteSpace(s) {
                    return s.indexOf(' ') >= 0;
                }

                var formInput = document.getElementById("data-input");
                function inputValue(oldvalue, target, data, alt) {
                    if (alt) alt = ''; // disabled '-'
                    else alt = '';
                    if (!oldvalue) {
                        if (hasWhiteSpace(data)) newvalue = alt + target + ':"' + data + '" ';
                        else newvalue = alt + target + ':' + data + ' ';
                    } else {
                        if (hasWhiteSpace(data)) newvalue = oldvalue + ' ' + alt + target + ':"' + data + '" ';
                        else newvalue = oldvalue + ' ' + alt + target + ':' + data + ' ';
                    }
                    formInput.value = newvalue;
                }

                onRowClick(document.getElementsByTagName("table")[0], function (ev) {
                    inputValue(formInput.value, ev.target, ev.data[ev.target], ev.originalEvent.altKey);
                });
            </script>

        {% endif %}
{% endblock %}
