<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h3>LogAuditor</h3>
        </div>
        <table class="table table-condensed">
            <caption><h4>Elasticsearch hosts</h4></caption>
            <thead>
            <tr>
                {% for item in es_head %}
                    <th>{{ item }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for item in es_info %}
                <tr>
                    {% for subitem in item %}
                        <td>{{ subitem }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <div class=bs-example data-example-id=thumbnails-with-custom-content>
        <div class="col-sm-6 col-md-6">
            <div class=thumbnail>
                <div class="text-center">
                    <div class=caption><h3>Alerts</h3>
                        <p>New: {{ alerts['unarchived'] }}</p>
                        <p>Archived: {{ alerts['archived'] }}</p>
                        <p>Overall: {{ alerts['all'] }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-6">
            <div class=thumbnail>
                <div class="text-center">
                    <div class=caption><h3>Schedulers</h3>
                        <p>Enabled: {{ sched['enabled'] }}</p>
                        <p>Disabled: {{ sched['disabled'] }}</p>
                        <p>Overall: {{ sched['all'] }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
