{% extends "base.html" %}
{% block content %}

    <a data-toggle="modal" href="http://127.0.0.1:5005/settings/Access" data-target="#myModal4">Click me !</a>
    <a data-toggle="modal" href="http://wp.pl" data-target="#myModal4">Click me !</a>

    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Index settings</h4>

                </div>
                <div class="modal-body">
                    <div class="te"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
