<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>Oops!</h1>
                <h2>Page Not Found</h2>
                <div class="error-details">Sorry, an error has occurred, Requested page not found!</div>
                <div class="error-actions">
                    <a href="{{ url_for('index.index') }}" class="btn btn-default btn-lg">
                        <span style="font-size:0.9em;" class="glyphicon glyphicon-home"></span> Take Me Home</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
