<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/img/favicon.ico">
    {% if title %}
        <title>{{ title }} - LogAuditor</title>
    {% else %}
        <title>LogAuditor</title>
    {% endif %}
    {% block css %}
    {% endblock %}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/navbar-fixed-top.css" rel="stylesheet">
</head>

<body>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
{% block script %}
{% endblock %}
{% block top_scripts %}
{% endblock %}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">LogAuditor</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('search.index') }}">Search</a></li>
                <li><a href="{{ url_for('alerts.index') }}">Alerts</a></li>
                <li><a href="{{ url_for('scheduler.index') }}">Scheduler</a></li>
                <li><a href="{{ url_for('cleaner.index') }}">Cleaner</a></li>
                <li><a href="{{ url_for('settings.index') }}">Settings</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>
{% block searchresults %}{% endblock %}

{% block end_scripts %}
{% endblock %}
</body>
</html>
